label {
  display: none;
}

input,
textarea,
::placeholder {
  display: block;
  width: 90%;
  height: 4vh;
  margin-bottom: 1rem;
  color: gray;
  font-size: 1rem;
  font-family: g2tgr;
}

input,
textarea {
  border: black solid 1px;
  color: black;
}

.error {
  background: rgba(255, 0, 0, 0.3);
  border: black solid 1px;
}

.error::placeholder {
  color: BLACK;
}
