.menu,
.search,
.languages {
  font-size: 1rem;
  display: inline;
}

h1 {
  font-size: 1rem;
  display: inline;
  margin: 0;
  padding: 0;
}

.menu ul,
.search ul,
.languages ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: inline;
}

.menu li,
.search li,
.languages li {
  display: inline;
  margin: 0 1rem;
}

.search,
.languages {
  float: right;
  margin-right: 1rem;
}

.menu li:first-of-type {
  margin-left: 0;
}

.languages li {
  margin: 0 0rem;
}

.languages li:first-of-type::after {
  content: '/';
}
