label {
	display: none;
}

input,
textarea,
::placeholder {
	display: block;
	width: 90%;
	height: 4vh;
	margin-bottom: 1rem;
	color: red;
	font-size: 1rem;
	font-family: g2tgr;
}

.uniform__potty {
	position: absolute;
	left: -9999px;
}
.error {
	background: rgba(255, 0, 0, 0.5);
	border: 3px solid darkblue;
}
