@import './css/menu.css';

/* Shared CSS for all pages */

/* G2 TGR by Gruppo Due (https://gruppo-due.com/) */
@font-face {
	font-family: G2TGR;
	font-style: normal;
	src: url('./assets/G2TGR-Regular.woff2');
}

body {
	margin: 1em;
	font-family: G2TGR;
	font-weight: bold;
	background-color: lightyellow;
}

.uniform__potty {
	position: absolute;
	left: -9999px;
}
